
.Main {
    
padding-top:70px;
   
    padding-left:200px;
    margin-left: 0; /* 기본값 */
    height: 843px;

}
.Top{
    width:100%;
    display:flex;
    justify-content:center;
    align-items: center;
    height:30%;
}
.Top>button{
    background-color:#272829;
    color:white;
    border-radius: 50%;
    width:40px;
    height:40px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.Slide{
    height:350px;
    width:1200px;
    
    display:flex;
    align-items: center;
    justify-content: center;
}

.Slide_img{

   
    width:80%;
    height:60%;
}
.bottom{
    height:70%;
}
.bottom_input{
    margin:20px;
    
}
.bottom_input>div{
    display:flex;
align-items: center;
justify-content: center;
    height:50px;
    width:220px;
    border-right: 50px;
    border-radius: 25px;
    background-color: antiquewhite; 
}
.bottom_input>div>input{
    border-radius: 25px;
   width:80%;
   height:60%;
    border:none;
}
.bottom_component{
    box-sizing: border-box;
    max-width:100%;
    display:flex;
    flex-wrap: wrap;
    height:90%;
}
.bottom_component1{
    box-sizing: border-box;
    width:25%;
    align-items: center;
    justify-content: center;
    display:flex;
  
    height:50%;
}
.bottom_component1_caffee{
    border-radius: 25px;
    background-color: #CCCCCC;
    width:250px;
    height:200px;
}