
.Main {
    
padding-top:70px;

    margin-left: 0; /* 기본값 */
    height:855px;

}
.Top{
    width:100%;
    display:flex;
    justify-content:center;
    align-items: center;
    height:36%;
}
.Top>button{
    background-color:#272829;
    color:white;
    border-radius: 50%;
    width:40px;
    height:40px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.Slide{
    height:400px;
    width:1200px;
    flex-direction: column;
    display:flex;
    align-items: center;
    justify-content: center;
}

.Slide_img{

   
    width:80%;
    height:60%;
}
.bottom{
    height:65%;
}
.bottom_input{
   
    padding-left:90px;
}
.bottom_input>div{
    display:flex;
align-items: center;
justify-content: center;
    height:50px;
    width:220px;
    border-right: 50px;
    border-radius: 25px;
    background-color: antiquewhite; 
}
.bottom_input>div>input{
    border-radius: 25px;
   width:80%;
   height:60%;
    border:none;
}
.bottom_component{
    box-sizing: border-box;
    max-width:100%;
    display:flex;
    flex-wrap: wrap;
    height:90%;
}
.bottom_component1{
    box-sizing: border-box;
    width:25%;
    align-items: center;
    justify-content: center;
    display:flex;
  
    height:50%;
}
.bottom_component1_caffee{
    border-radius: 25px;
   
    width:250px;
    border:#272829;
    height:200px;
}
.bottom_component1_caffeeimg{
    border-style: solid;
    border-bottom: 0;
    border-radius:25px 25px 0px 0px;
    background-position: center;
    background-repeat: repeat;
    background-size:cover;
    box-sizing: border-box;
    
    width:100%;
    height:80%;
}
.bottom_component1_caffeetext{
    display:flex;
    justify-content: space-around;
   border-style: solid;
   border-radius: 0px 0px 25px 25px;
}
.buttons{
    margin-top:20px;
    display:flex;
    width:150px;
    justify-content:space-around;
}
.buttons>button{
    background-color: #cfd2d4;
    border-radius: 50%;
    border:none;
    width:10px;
    height:10px;
}
.bottom_check{
    display:flex;
    align-items: center;
    justify-content: center;
}
.bottom_check>div{
    margin: 0px 10px 0px 10px;
   
}
.bottom_check>button{
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    border:none;
}